
@{
    ViewBag.Title = "ActiveUser";
}

<br />

<h5>فعالسازی حساب کاربری</h5>
<hr />
<div class="alert alert-success">
    <b>@ViewBag.name عزیز</b>
    <p>
        حساب کاربری شما فعال شده است. اکنون می توانید

        وارد سایت شوید.
    </p>
    <p>
        با تشکر از ثبت نام شما <span class="glyphicon glyphicon-heart-empty"></span>
    </p>
</div>

