
@{
    ViewBag.Title = "SuccessForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row alert alert-success">
    <h5>@Model.userName عزیز!</h5>
    <p>ایمیل بازیابی رمز عبور شما به @Model.emailAddress ارسال شده است. لطفا در ایمیل خود روی لینک بازیابی کلیک کنید.</p>
</div>

