
@model ShopUserViewModel
@{
    ViewBag.Title = "SuccessRegister";
}
<div class="row alert alert-success">
    <h5>@Model.userName عزیز خوش آمدید.</h5>
    <p>از انتخاب سایت ما سپاسگزاریم.</p>
    <p>لطفا برای بهره بردن از امکانات ما به صفحه ی اصلی رفته و مجددا وارد سایت شوید.</p>
    <a href="/">بازگشت به صفحه ی اصلی</a>
</div>

